{% extends "TresAcordesApp/base.html" %}

{% load static %}

{% block content %} 

    <section class="page-section clearfix">

    
        <h1 style="text-align: center;"><p style="color: rgba(0, 95, 0, 0.8);">Temporada Cuatro</h1>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); "> Un Mal Presentimiento</h4>
            <a href="{% url 'Presentimiento' %}">
                <img title="Un Mal Presentimiento" src="{% static 'TresAcordesApp/img/Temporadacuatro/Presentimiento.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Otro Día Desperdiciado</h4>
            <a href="{% url 'Desperdiciado' %}">
                <img title="Otro Día Desperdiciado" src="{% static 'TresAcordesApp/img/Temporadacuatro/Desperdiciado.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">El Viaje</h4>
            <a href="{% url 'Viaje' %}">
                <img title="El Viaje" src="{% static 'TresAcordesApp/img/Temporadacuatro/Viaje.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Punto De Partida/Llegada</h4>
            <a href="{% url 'Crono' %}">
                <img title="Punto De Partida/Llegada" src="{% static 'TresAcordesApp/img/Temporadacuatro/Crono.gif' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Xp</h4>
            <a href="{% url 'Xp' %}">
                <img title="Xp" src="{% static 'TresAcordesApp/img/Temporadacuatro/Xp.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Ahre</h4>
            <a href="{% url 'Ahre' %}">
                <img title="Ahre" src="{% static 'TresAcordesApp/img/Temporadacuatro/Ahre.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Afuera/Adentro</h4>
            <a href="{% url 'Afuera' %}">
                <img title="Afuera/Adentro" src="{% static 'TresAcordesApp/img/Temporadacuatro/Afuera.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Tres Décadas a Todo Ritmo</h4>
            <a href="{% url 'Decadas' %}">
                <img title="Tres Décadas a Todo Ritmo" src="{% static 'TresAcordesApp/img/Temporadacuatro/Decadas.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Problema</h4>
            <a href="{% url 'Problema' %}">
                <img title="Problema" src="{% static 'TresAcordesApp/img/Temporadacuatro/Problema.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h5 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">El Día Que Fleko Se Convirtió En Asdasda</h5>
            <a href="{% url 'Fleko2' %}">
                <img title="El día que Fleko se convirtió en asdasda" src="{% static 'TresAcordesApp/img/Temporadacuatro/Fleko2.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Solución</h4>
            <a href="{% url 'Solucion' %}">
                <img title="Solución" src="{% static 'TresAcordesApp/img/Temporadacuatro/Solucion.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

    </section>

    <P style="margin-right: 1cm; margin-left: 1cm; color: rgba(0, 95, 0, 0.8); font-size: .5cm; text-align: center;">La temporada bisagra.</P>



{% endblock %}