{% extends "TresAcordesApp/base.html" %}

{% load static %}

{% block content %} 

    <section class="page-section clearfix">

    
        <h1 style="text-align: center;"><p style="color: rgba(0, 95, 0, 0.8);">Temporada Cinco</h1>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Resolución</h4>
            <a href="{% url 'Resolucion' %}">
                <img title="Resolucion" src="{% static 'TresAcordesApp/img/Temporadacinco/Resolucion.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">¡HAYA PAZ!</h4>
            <a href="{% url 'Paz' %}">
                <img title="¡HAYA PAZ!" src="{% static 'TresAcordesApp/img/Temporadacinco/Paz.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Un Tipo Inestable</h4>
            <a href="{% url 'Inestable' %}">
                <img title="Un Tipo Inestable" src="{% static 'TresAcordesApp/img/Temporadacinco/Inestable.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Nunca En Blanco</h4>
            <a href="{% url 'Blanco' %}">
                <img title="Nunca En Blanco" src="{% static 'TresAcordesApp/img/Temporadacinco/Blanco.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Este Episodio TE SORPRENDERA</h4>
            <a href="{% url 'Sorprendera' %}">
                <img title="Este Episodio TE SORPRENDERA" src="{% static 'TresAcordesApp/img/Temporadacinco/Sorprendera.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Entre Amigos</h4>
            <a href="{% url 'Amigos' %}">
                <img title="Entre Amigos" src="{% static 'TresAcordesApp/img/Temporadacinco/Amigos.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Fristail</h4>
            <a href="{% url 'Fristail' %}">
                <img title="Fristail" src="{% static 'TresAcordesApp/img/Temporadacinco/Fristail.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">Otros Acordes</h4>
            <a href="{% url 'Otros' %}">
                <img title="Otros Acordes" src="{% static 'TresAcordesApp/img/Temporadacinco/Otros.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">El Principio Del Final</h4>
            <a href="{% url 'Principio' %}">
                <img title="El Principio Del Final" src="{% static 'TresAcordesApp/img/Temporadacinco/Final.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

        <div style="width: 33%; float: left">
            <h4 style="margin-left: 2.5cm; color: rgba(0, 95, 0, 0.8); ">El Final Del Principio</h4>
            <a href="{% url 'Final' %}">
                <img title="El Final Del Principio" src="{% static 'TresAcordesApp/img/Temporadacinco/Final.jpg' %}" height="250px" width="350px" style="margin-left: 2.5cm;" alt="">
            </a>
        </div>

    </section>




{% endblock %}