{% extends "TresAcordesApp/base.html" %}

{% load static %}

{% block content %}
<li>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadacero' %}">Temporada Cero</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadauno' %}">Temporada Uno</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadados' %}">Temporada Dos</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadatres' %}">Temporada Tres</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadacuatro' %}">Temporada Cuatro</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Temporadacinco' %}">Temporada Cinco</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Otros_acordes' %}">Otros Acordes</a></h1>
    <h1 style="text-align: center; font-family: fantasy;"><a href="{% url 'Tda' %}">Tuquitas De Animación</a></h1>

</li>

{% endblock %}