{% extends "ProduccionesTrukiniApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProduccionesTrukiniApp/img/Adriel2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h3>        
           <p class="mb-3"><b><i>Historias conectadas en un laberinto sin salida viajando a la velocidad del calor.
          </i></b></p>
          </h3>
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <p class="mb-0"><i>En marzo del 2009 con el fin de parodiar a unos amigos que se encontraban lejos, me propuse aprender a usar el Flash (programa que ya había fracasado en aprender hacía unos años), al finalizar dicha parodia, animar se convirtió en un hábito, y empecé a crear dibujos animados para satisfacer una necesidad propia de hacer algo más que vaguear/trabajar. Con el correr de estos años, empecé a descubrir nuevos programas y en este último tiempo a animar con una mejor resolución. Producciones Trukini está en dinámica constante. Tener tanto por mejorar funciona como combustible para que siga en movimiento.</i></p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

